.zaklad{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.left{
    display: flex;
    width: 39%;
}
.right{
    display: flex;
    width: 39%;
    flex-direction: column;
}
.img{
    width: 500px;
}